@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Gideon+Roman&family=Lavishly+Yours&family=Saira:ital,wght@0,100..900;1,100..900&display=swap");
body .cursor__effect, body .cursor__effect small, body .vid__container, body .vid__container__myvid, body header .navbar, body header .navbar .mobile__container .timer__container, body main #about .about__container .about__img__container, body main #galerie, body main .contact__container .contact__title__container, body main .contact__container__sub, body main .contact__container__sub .arrow__container, body main .contact__container aside {
  height: auto;
  width: 100%;
}

body .cursor__effect, body .cursor__effect small, body .vid__container, body .vid__container__myvid, body .vid__container__banner, body .vid__container__banner .container__banner__itemA, body .vid__container__banner .container__banner__itemB, body .vid__container__banner .container__banner__itemC, body .vid__container__banner .container__banner__itemD, body .vid__container__banner .banner__title, body header .primary__title, body header .primary__separate, body header .secondary__title, body header .navbar .mobile__container, body header .navbar .mobile__container .mobile__barre, body header .navbar .mobile__container__sub, body header .navbar__container, body header .navbar .navbar__itemA,
body header .navbar .navbar__itemB, body header .navbar .navbar__papper, body header .navbar .Ai__wrapper, body main #about .about__container .about__title__container, body main #about .about__container .about__description__container, body main #about .about__container .about__img__container, body main #about .about__container .about__img__container figcaption, body main .small__banner, body main #galerie, body main #galerie .image__container, body main #galerie .image__container .image__container__item, body main .contact__container, body main .contact__container .contact__title__container, body main .contact__container__sub, body main .contact__container__sub .arrow__container, body main .contact__container__sub .form__container, body main .contact__container aside, body main .contact__container aside .barrets__container, body footer {
  margin: 0;
  padding: 0;
}

body main .contact__container aside .barrets__container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
}

body .cursor__effect, body .vid__container__banner, body header .navbar .navbar__papper, body header .navbar .Ai__wrapper, body main #about .about__container .about__img__container, body main .contact__container, body main .contact__container .contact__title__container .contact__title, body main .contact__container__sub, body main .contact__container aside, body footer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

body header .navbar .mobile__container, body header .navbar .mobile__container__sub, body main #about .about__container, body main #about .about__container .about__title__container {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: space-evenly;
}

body main #about .about__container .about__img__container figcaption {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  justify-content: space-evenly;
}

body header .navbar .mobile__container .timer__container, body main #galerie .image__container .image__container__item, body main .contact__container .contact__title__container, body main .contact__container__sub .arrow__container, body main .contact__container__sub .form__container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

body main .small__banner, body main .small__banner__item {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
}

body main #about, body main #galerie .image__container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
}

body header .navbar .mobile__container .mobile__barre {
  background: linear-gradient(to right, #ffefba, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

body main .contact__container__sub .arrow__container i {
  background: linear-gradient(to right, #efefbb, #d4d3dd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

@keyframes backdropAnime {
  from {
    backdrop-filter: blur(0px);
  }
  to {
    backdrop-filter: blur(6px);
  }
}
@keyframes smallBannerAnime {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes separateAnime {
  from {
    opacity: 0;
    width: 0;
  }
  to {
    width: 35vw;
    visibility: visible;
    opacity: 1;
  }
}
@keyframes flashOverEl {
  from {
    filter: drop-shadow(0px 0px 15px #fff);
    mix-blend-mode: color;
  }
  to {
    mix-blend-mode: normal;
  }
}
@keyframes flashOverTxt {
  from {
    text-shadow: 4px 4px 25px #fff;
    mix-blend-mode: color-dodge;
  }
  to {
    mix-blend-mode: normal;
  }
}
@keyframes formAnimeA {
  from {
    opacity: 0;
    width: 0;
  }
  to {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
    opacity: 1;
    visibility: visible;
    transform: translateX(-4vw);
  }
}
@keyframes formAnimeB {
  from {
    opacity: 0;
    width: 0;
  }
  to {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
    opacity: 1;
    visibility: visible;
    transform: translateX(4vw);
  }
}
@keyframes txtIntroAi {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes avatarAnimeAi {
  from {
    visibility: hidden;
    opacity: 0;
  }
  to {
    opacity: 1;
    filter: drop-shadow(0px 0px 12px #fff);
    visibility: visible;
  }
}
@keyframes inputAnimeAi {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
body .cursor__effect {
  height: 4vh;
  width: 110px;
  position: fixed;
  pointer-events: none;
  background: linear-gradient(to right, #ffefba, #ffffff);
  transform: translate(-50%, -50%);
  transition: transform 0.3s ease-out;
  mix-blend-mode: difference;
  z-index: 96;
  text-align: center;
  border-radius: 15px;
}
body .cursor__effect small {
  transition: 0.3s ease-in-out;
  color: #000;
  font-family: "Saira", sans-serif;
  letter-spacing: 3px;
  font-size: 2.2rem;
  font-weight: lighter;
}
body .vid__container__myvid {
  position: fixed;
  z-index: -99;
}
body .vid__container__banner {
  height: 25vh;
  width: 100%;
  position: fixed;
  padding: 0;
  top: 40%;
  left: 0;
  opacity: 0.4;
  z-index: -98;
  transform: rotate(-8deg);
}
body .vid__container__banner .container__banner__itemA, body .vid__container__banner .container__banner__itemB, body .vid__container__banner .container__banner__itemC, body .vid__container__banner .container__banner__itemD {
  line-height: 27px;
  color: #dccd8e;
}
body .vid__container__banner .container__banner__itemA {
  font-family: "Cinzel Decorative", serif;
  font-size: 3rem;
  font-weight: lighter;
}
body .vid__container__banner .container__banner__itemB {
  font-family: "Gideon Roman", serif;
  font-size: 2.2rem;
  font-weight: lighter;
  letter-spacing: 10px;
}
body .vid__container__banner .container__banner__itemC {
  margin-left: 0;
  font-family: "Cinzel Decorative", serif;
  font-size: 1.2rem;
  font-weight: lighter;
  word-spacing: 5px;
}
body .vid__container__banner .container__banner__itemD {
  font-family: "Cinzel Decorative", serif;
  font-size: 1.2rem;
  font-weight: lighter;
  letter-spacing: 4px;
}
body .vid__container__banner .banner__title {
  font-family: "Lavishly Yours", cursive;
  font-size: 9rem;
  font-weight: lighter;
  letter-spacing: 8px;
  line-height: 120px;
  color: #dccd8e;
}
body header {
  min-height: 80vh;
  width: 100%;
  color: #fff;
}
body header .primary__title {
  font-size: 9rem;
  font-family: "Cinzel Decorative", serif;
  font-weight: lighter;
  letter-spacing: -15px;
  width: 15ch;
  opacity: 0.9;
}
body header .primary__separate {
  visibility: hidden;
  margin-left: 10%;
  height: 5px;
  background-color: #fff;
  animation: separateAnime 1s ease 5.3s 1 normal forwards;
}
body header .secondary__title {
  font-size: 9rem;
  font-family: "Cinzel Decorative", serif;
  font-weight: lighter;
  letter-spacing: -15px;
  width: 15ch;
  opacity: 0.9;
}
body header .navbar .mobile__container {
  position: absolute;
  padding: 0;
  top: 2px;
  right: 0;
  min-height: 30vh;
  width: 15vw;
}
body header .navbar .mobile__container .mobile__barre {
  font-family: "Cinzel Decorative", serif;
  font-size: 3rem;
  font-weight: lighter;
  position: fixed;
  z-index: 99;
  mix-blend-mode: difference;
  letter-spacing: 8px;
}
body header .navbar .mobile__container .mobile__barre:hover {
  cursor: pointer;
  transition: animation 0.3s ease;
  animation: flashOverTxt 0.8s linear forwards;
}
body header .navbar .mobile__container .timer__container {
  transform: rotate(90deg);
  margin-top: 15vh;
  margin-left: 5.5vw;
}
body header .navbar .mobile__container .timer__container span {
  font-family: "Saira", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 3px;
  font-weight: lighter;
}
body header .navbar .mobile__container__sub {
  height: 20vh;
  width: 15vw;
  position: fixed;
  top: 23%;
  left: 81.5vw;
  z-index: 99;
  transform: rotate(90deg);
}
body header .navbar .mobile__container__sub .mobile__item__sub {
  font-family: "Saira", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 5px;
  font-weight: lighter;
  border: none;
  height: auto;
  width: auto;
  z-index: 99;
}
body header .navbar .mobile__container__sub .mobile__item__sub a {
  color: #fff;
  text-decoration: none;
}
body header .navbar .mobile__container__sub .mobile__item__sub:hover {
  color: #fff;
  text-shadow: 0px 0px 8px #fff;
  transition: text-shadow, transform 0.2s ease-in-out;
  cursor: pointer;
  transform: translateX(15px);
}
body header .navbar__container {
  top: 0;
  position: fixed;
  visibility: hidden;
  height: 100vh;
  width: 100%;
  z-index: 95;
}
@media (min-width: 600px) {
  body header .navbar__container {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    backdrop-filter: blur(8px);
  }
}
@media (min-width: 1200px) {
  body header .navbar__container {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    backdrop-filter: blur(8px);
  }
}
body header .navbar__container.view {
  visibility: visible;
  animation: backdropAnime 2s ease 0s 1 normal forwards;
  transition: background-color 1s ease;
  background-color: rgba(0, 0, 0, 0.871);
}
body header .navbar .navbar__itemA,
body header .navbar .navbar__itemB {
  font-size: 9rem;
  font-family: "Cinzel Decorative", serif;
  font-weight: lighter;
  height: auto;
  max-width: 60vw;
  list-style-type: none;
  text-align: start;
  line-height: 150px;
  overflow: hidden;
}
body header .navbar .navbar__itemA .link__item,
body header .navbar .navbar__itemB .link__item {
  width: 100%;
  color: #fff;
  text-decoration: none;
  letter-spacing: -6px;
}
body header .navbar .navbar__itemA .link__item:hover,
body header .navbar .navbar__itemB .link__item:hover {
  color: #dccd8e;
}
body header .navbar .navbar__itemA:hover,
body header .navbar .navbar__itemB:hover {
  filter: drop-shadow(0px 0px 5px #fff);
  transition: 0.3s ease-in-out;
  transform: translateX(150px);
  mix-blend-mode: difference;
}
body header .navbar .navbar__papper {
  top: 0;
  left: 33%;
  position: absolute;
  height: 100%;
  width: 25vw;
  z-index: -1;
  overflow: hidden;
}
body header .navbar .navbar__papper .navbar__papper__item {
  width: auto;
}
body header .navbar .navbar__papper .navbar__papper__item:nth-child(1) {
  height: 11vh;
  margin-top: -140px;
  margin-left: -11vw;
}
body header .navbar .navbar__papper .navbar__papper__item:nth-child(2) {
  margin-top: -155px;
  height: 25vh;
}
body header .navbar .navbar__papper .navbar__papper__item:nth-child(3) {
  margin-top: -130px;
  height: 30vh;
}
body header .navbar .navbar__papper .navbar__papper__item:nth-child(4) {
  margin-top: -110px;
  height: 25vh;
}
body header .navbar .navbar__papper .navbar__papper__item:nth-child(5) {
  margin-top: -140px;
  height: 25vh;
}
body header .navbar .navbar__papper .navbar__papper__item:nth-child(6) {
  margin-top: -180px;
  height: 25vh;
  margin-left: 3vw;
}
body header .navbar .navbar__papper:hover {
  transition: animation 0.3s ease;
  animation: flashOverEl 0.5s linear forwards;
}
body header .navbar .Ai__wrapper {
  position: absolute;
  top: 24%;
  left: 70%;
  min-height: 50vh;
  width: 25vw;
  overflow: hidden;
  border-radius: 15px;
}
body header .navbar .Ai__wrapper .Ai__avatar {
  visibility: hidden;
  height: 25vh;
  width: auto;
}
body header .navbar .Ai__wrapper .Ai__add__anim {
  animation: avatarAnimeAi 5s linear 0.5s forwards;
}
body header .navbar .Ai__wrapper .Ai__intro__txt {
  height: 10vh;
  text-align: center;
  margin-top: 0;
  font-family: "Saira", sans-serif;
  font-weight: lighter;
  transition: animation 0.4s ease;
  animation: txtIntroAi 4s ease;
  letter-spacing: 3px;
  text-shadow: 0px 0px 5px #fff;
}
body header .navbar .Ai__wrapper .Ai__reponse {
  margin-top: 0px;
}
body header .navbar .Ai__wrapper .Ai__reponse .Ai__reponse__item {
  font-family: "Saira", sans-serif;
  padding: 5px;
  width: 70%;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.3s ease;
  white-space: pre-wrap;
  list-style-type: none;
  font-weight: lighter;
  font-size: 1.2rem;
  letter-spacing: 2px;
}
body header .navbar .Ai__wrapper input[type=text] {
  visibility: hidden;
  height: 4vh;
  width: 80%;
  border: 1px solid #fff;
  background: transparent;
  border-radius: 10px;
  color: #fff;
  font-size: 1.2rem;
}
body header .navbar .Ai__wrapper .Ai__btn__question {
  visibility: hidden;
  margin-top: 5vh;
  height: 6vh;
  width: 28%;
  border: 1px solid #fff;
  background: transparent;
  border-radius: 10px;
  color: #fff;
  font-size: 1.2rem;
  font-weight: lighter;
  letter-spacing: 3px;
}
body header .navbar .Ai__wrapper .Ai__btn__question:hover {
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: 0px 0px 8px #fff;
}
body header .navbar .Ai__wrapper .Ai__input__anime {
  animation: inputAnimeAi 3s linear 8s forwards;
}
body main #about {
  height: auto;
  width: 95vw;
  margin: auto;
  padding: 0;
}
body main #about .about__container {
  margin: 15px;
  min-height: 55vh;
  max-width: 38vw;
  background: url("../image/") no-repeat 50% 50%, linear-gradient(to right, #efefbb, #d4d3dd);
  padding: 0 0 5vw 0;
  overflow: hidden;
}
body main #about .about__container .about__title__container {
  margin-top: 0;
  margin-left: 0;
  min-height: 15vh;
  min-width: 25vw;
  font-family: "Cinzel Decorative", serif;
  font-size: 3rem;
  font-weight: lighter;
}
body main #about .about__container .about__title__container h2 {
  line-height: 50px;
  width: 8ch;
  font-weight: lighter;
}
body main #about .about__container .big__letters {
  height: 13vh;
  float: left;
  shape-outside: margin-box;
  font-size: 10rem;
  z-index: 0;
  line-height: 140px;
  margin-right: 35px;
  font-family: "Lavishly Yours", cursive;
  font-weight: lighter;
  color: #dccd8e;
  filter: drop-shadow(0px 0px 3px #000);
}
body main #about .about__container .about__description__container {
  position: relative;
  min-height: 25vh;
  width: 35ch;
  text-align: left;
  font-size: 1.2rem;
  font-family: "Gideon Roman", serif;
  font-size: 2.2rem;
  font-weight: lighter;
}
body main #about .about__container .about__img__container img {
  height: 30vh;
  width: auto;
}
body main #about .about__container .about__img__container img:hover {
  transition: animation 0.3s ease;
  animation: flashOverEl 0.5s linear forwards;
}
body main #about .about__container .about__img__container figcaption {
  text-align: right;
  margin-top: 15px;
  margin-left: 8vw;
  font-size: 3rem;
  width: 8ch;
  font-family: "Lavishly Yours", cursive;
  line-height: 35px;
}
body main .small__banner {
  position: relative;
  top: 90%;
  left: 72%;
  height: 5vh;
  width: 50vw;
  overflow: hidden;
  border-radius: 10px;
  transform: rotate(90deg);
  z-index: 99;
  text-align: center;
}
body main .small__banner__item {
  font-size: 1rem;
  width: 20ch;
  font-family: "Saira", sans-serif;
  color: #fff;
  font-weight: lighter;
  animation: smallBannerAnime 8s linear infinite;
  white-space: nowrap;
}
body main .small__banner__item img {
  height: 25px;
  width: 25px;
}
body main #galerie .galerie__title {
  white-space: nowrap;
  text-align: center;
  width: 100%;
  font-family: "Saira", sans-serif;
  color: #fff;
  font-size: 9rem;
  font-family: "Cinzel Decorative", serif;
  font-weight: lighter;
  letter-spacing: -15px;
}
body main #galerie .image__container {
  position: relative;
  min-height: 100vh;
  width: 100%;
  z-index: 0;
  overflow: hidden;
}
body main #galerie .image__container .image__container__item {
  position: absolute;
  width: 90%;
  height: 90%;
  object-fit: cover;
  opacity: 0;
  transform: scale(0.95);
  z-index: 0;
}
body main #galerie .image__container .image__container__item .descript__img {
  margin-left: 8vw;
  width: 10ch;
  color: #fff;
  font-size: 3rem;
  font-family: "Saira", sans-serif;
  font-weight: lighter;
}
body main #galerie .image__container .image__container__item img {
  width: 80vw;
  height: 80vh;
  margin-top: 120px;
  margin-left: 0;
}
body main #galerie .image__container .image__container__item img:hover {
  transition: animation 0.3s ease;
  animation: flashOverEl 0.5s linear forwards;
}
body main .contact__container {
  min-height: 100vh;
  width: 100%;
}
body main .contact__container .contact__title__container .contact__container__separate {
  margin: 15px;
  height: 20vh;
  width: 3px;
  border: none;
  background-color: #fff;
}
body main .contact__container .contact__title__container .contact__title {
  color: #fff;
  font-family: "Cinzel Decorative", serif;
  font-size: 3rem;
  font-weight: lighter;
}
body main .contact__container .contact__title__container .contact__title span {
  font-size: 9rem;
}
body main .contact__container__sub .arrow__container i {
  text-align: center;
  font-size: 12rem;
}
body main .contact__container__sub .arrow__container i:hover {
  cursor: pointer;
}
body main .contact__container__sub .arrow__container i.arrow__mov__A {
  transform: translateX(-29vw) rotate(-90deg);
  transition: transform 0.4s ease-out;
  animation: flashOverTxt 0.6s linear 0.6s forwards;
}
body main .contact__container__sub .arrow__container i.arrow__mov__B {
  transform: translateX(29vw) rotate(90deg);
  transition: transform 0.4s ease-out;
  animation: flashOverTxt 0.6s linear 0.6s forwards;
}
body main .contact__container__sub .form__container {
  min-height: 60vh;
  width: 50vw;
}
body main .contact__container__sub .form__container .form__A {
  margin-top: -500px;
  background-color: rgba(0, 0, 0, 0.834);
  border-radius: 15px;
  visibility: hidden;
  min-height: 60vh;
  width: 100%;
}
body main .contact__container__sub .form__container .form__A input[type=text],
body main .contact__container__sub .form__container .form__A input[type=email],
body main .contact__container__sub .form__container .form__A input[type=tel] {
  height: 3vh;
  width: 20vh;
  border: none;
  border-bottom: 2px solid #efefbb;
  background: none;
  font-family: "Saira", sans-serif;
  font-size: 1.2rem;
  color: #fff;
}
body main .contact__container__sub .form__container .form__A textarea {
  height: 10vh;
  resize: none;
  border: none;
  border-bottom: 2px solid #efefbb;
  background: none;
  font-family: "Saira", sans-serif;
  font-size: 1.2rem;
  color: #fff;
}
body main .contact__container__sub .form__container .form__A input[type=submit] {
  height: 4vh;
  width: 8vw;
  font-family: "Saira", sans-serif;
  font-size: 1.2rem;
  background: linear-gradient(to right, #efefbb, #d4d3dd);
  border: none;
  border-radius: 5px;
}
body main .contact__container__sub .form__container .form__A input[type=submit]:hover {
  animation: flashOverEl 0.6s linear 0.6s forwards;
}
body main .contact__container__sub .form__container .form__A.deploy__formA {
  animation: formAnimeA 1s ease 0.5s 1 normal forwards;
}
body main .contact__container__sub .form__container .form__B {
  margin-top: -500px;
  background-color: rgba(0, 0, 0, 0.834);
  border-radius: 15px;
  visibility: hidden;
  min-height: 60vh;
  width: 100%;
}
body main .contact__container__sub .form__container .form__B input[type=text],
body main .contact__container__sub .form__container .form__B input[type=email],
body main .contact__container__sub .form__container .form__B input[type=tel],
body main .contact__container__sub .form__container .form__B input[type=number],
body main .contact__container__sub .form__container .form__B input[type=date],
body main .contact__container__sub .form__container .form__B input[type=time] {
  height: 3vh;
  width: 20vh;
  border: none;
  border-bottom: 2px solid #efefbb;
  background: none;
  color: #fff;
  font-family: "Saira", sans-serif;
  font-size: 1.2rem;
}
body main .contact__container__sub .form__container .form__B textarea {
  height: 10vh;
  resize: none;
  border: none;
  border-bottom: 2px solid #efefbb;
  background: none;
  font-family: "Saira", sans-serif;
  font-size: 1.2rem;
  color: #fff;
}
body main .contact__container__sub .form__container .form__B label {
  letter-spacing: 3px;
  font-family: "Saira", sans-serif;
  font-size: 1.2rem;
  color: #fff;
  font-weight: lighter;
}
body main .contact__container__sub .form__container .form__B input[type=submit] {
  height: 4vh;
  width: 8vw;
  font-family: "Saira", sans-serif;
  font-size: 1.2rem;
  background: linear-gradient(to right, #efefbb, #d4d3dd);
  border: none;
  border-radius: 5px;
}
body main .contact__container__sub .form__container .form__B input[type=submit]:hover {
  animation: flashOverEl 0.6s linear 0.6s forwards;
}
body main .contact__container__sub .form__container .form__B.deploy__formB {
  animation: formAnimeB 1s ease 0.5s 1 normal forwards;
}
body main .contact__container aside .barrets__container {
  min-height: 50vh;
  width: 100%;
  overflow: hidden;
}
body main .contact__container aside .barrets__container .barrets__container__item {
  height: 15px;
  width: 100%;
  background: linear-gradient(to right, #efefbb, #d4d3dd);
  transform: rotate(50deg);
}
body main .contact__container aside iframe {
  position: absolute;
}
body footer {
  position: relative;
  min-height: 15vh;
  width: 100%;
  bottom: 0;
}
body footer .foot__signature {
  font-family: "Saira", sans-serif;
  font-size: 1.2rem;
  color: #dccd8e;
  font-weight: lighter;
}

/*# sourceMappingURL=main.css.map */
