$typo-size-small: 1.2rem;
$typo-size-Smedium: 2.2rem;
$typo-size-medium: 3rem;
$typo-size-big: 9rem;

$typo-family-primary: "Cinzel Decorative", serif;
$typo-family-secondary: "Lavishly Yours", cursive;
$typo-family-tertiary: "Gideon Roman", serif;
$typo-family-small: "Saira", sans-serif;

$typo-color-gold: #dccd8e;
$typo-color-black: #000;
$typo-color-white: #fff;
