@keyframes backdropAnime {
  from {
    backdrop-filter: blur(0px);
  }
  to {
    backdrop-filter: blur(6px);
  }
}
@keyframes smallBannerAnime {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

