@keyframes backdropAnime {
  from {
    backdrop-filter: blur(0px);
  }
  to {
    backdrop-filter: blur(6px);
  }
}
@keyframes smallBannerAnime {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes separateAnime {
  from {
    opacity: 0;
    width: 0;
  }
  to {
    width: 35vw;
    visibility: visible;
    opacity: 1;
  }
}
@keyframes flashOverEl {
  from {
    filter: drop-shadow(0px 0px 15px #fff);
    mix-blend-mode: color;
  }
  to {
    mix-blend-mode: normal;
  }
}
@keyframes flashOverTxt {
  from {
    text-shadow: 4px 4px 25px #fff;
    mix-blend-mode: color-dodge;
  }
  to {
    mix-blend-mode: normal;
  }
}
@keyframes formAnime {
  from {
    opacity: 0;
    width: 0;
  }
  to {
    width: 25vw;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
    opacity: 1;
    visibility: visible;
    transform: translate(-15vw,-180px);
  }
}