<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='CSS/main.css') }}">
  <title>La table de solline</title>
</head>

<body>
  <div class="vid__container">
    <video autoplay loop muted class="vid__container__myvid">
      <source src="{{ url_for('static', filename='video/space_1920.mp4') }}" type="video/mp4" />
    </video>
    <div class="cursor__effect">
      <small class="cursor__txt"></small>
    </div>
    <div class="vid__container__banner">
      <span
        class="container__banner__itemA"><small>Incontournable</small><small>Incontournable</small><small>Incontournable</small><small>Incontournable</small><small>Incontournable</small><small>Incontournable</small></span>
      <span class="container__banner__itemB"><small>H24 7/7</small><small>H24 7/7</small><small>H24
          7/7</small><small>H24 7/7</small><small>H24 7/7</small><small>H24 7/7</small><small>H24
          7/7</small></span>
      <h2 class="banner__title">La table de solline gastronomie</h2>
      <span class="container__banner__itemC"><small>Gastronomie & Prestige</small><small>Gastronomie &
          Prestige</small><small>Gastronomie &Prestige</small><small>Gastronomie &
          Prestige</small><small>Gastronomie &
          Prestige</small><small>Gastronomie & Prestige</small><small>Gastronomie &
          Prestige</small><small>Gastronomie &
          Prestige</small><small>Gastronomie & Prestige</small><small>Gastronomie & Prestige</small><span
          class="container__banner__itemD"><small>Incontournable</small><small>Incontournable</small><small>Incontournable</small><small>Incontournable</small><small>Incontournable</small><small>Incontournable</small><small>Incontournable</small><small>Incontournable</small><small>Incontournable</small><small>Incontournable</small></span>
    </div>
  </div>
  <header>
    <h1 class="primary__title">La table de solline</h1>
    <div class="primary__separate"></div>
    <h2 class="secondary__title">Gastronomie</h2>
    <nav class="navbar">
      <div class="mobile__container">
        <p class="mobile__barre lnk" id="btntrigg">menu</p>
        <div class="timer__container">
          <span>Bxl-</span><span id="clock"></span>
        </div>
      </div>
      <ul class="navbar__container">
        <li class="navbar__itemA"><a href="{{ url_for('recettes.home') }}" class="link__item lnk">A propos</a>
        </li>
        <li class="navbar__itemB"><a href="{{ url_for('recettes.entree') }}" class="link__item lnk">Entree</a>
        </li>
        <li class="navbar__itemA"><a href="{{ url_for('recettes.plats') }}" class="link__item lnk">Plats</a>
        </li>
        <li class="navbar__itemB"><a href="{{ url_for('recettes.dessert') }}" class="link__item lnk">Dessert</a>
        </li>
        <li class="navbar__itemA"><a href="{{ url_for('recettes.boisson') }}" class="link__item lnk">Boissons</a></li>
        <li class="navbar__itemB"><a href="{{ url_for('recettes.vin') }}" class="link__item lnk">Vins</a></li>
        <li class="navbar__itemA"><a href="{{ url_for('recettes.champagne') }}" class="link__item lnk">Champagnes</a>
        </li>
        <div class="mobile__container__sub">
          <p class="mobile__item__sub lnk">Reservation</p>
          <p class="mobile__item__sub lnk">Evenement</p>
          <p class="mobile__item__sub lnk">Avis</p>
          <p class="mobile__item__sub lnk"><a href="{{ url_for('recettes.index') }}">Exit</a></p>
        </div>
        <div class="navbar__papper">
          <img src="{{ url_for('static', filename='image/Fichier 1hdpi.png') }}" alt="bgnav"
            class="navbar__papper__item">
          <img src="{{ url_for('static', filename='image/Fichier 2hdpi.png') }}" alt="bgnav"
            class="navbar__papper__item">
          <img src="{{ url_for('static', filename='image/Fichier 3hdpi.png') }}" alt="bgnav"
            class="navbar__papper__item">
          <img src="{{ url_for('static', filename='image/Fichier 4hdpi.png') }}" alt="bgnav"
            class="navbar__papper__item">
          <img src="{{ url_for('static', filename='image/Fichier 5hdpi.png') }}" alt="bgnav"
            class="navbar__papper__item">
          <img src="{{ url_for('static', filename='image/Fichier 6hdpi.png') }}" alt="bgnav"
            class="navbar__papper__item">
        </div>
        <div class="Ai__wrapper">
          <div class="Ai__wrapper__sub">
            <h2 id="intro_texte" class="Ai__intro__txt"></h2>
            <img src="{{ url_for('static', filename='image/solline.svg') }}" class="Ai__avatar" alt="SollineAvatar">
          </div>
          <ul id="Ai_response" class="Ai__reponse"></ul>
          <input type="text" id="user_question" placeholder="Ecrire votre question à solline" />
          <button onclick="envoyerQuestion()" class="Ai__btn__question lnk" id="user_btn">Demander à
            Solline</button>
        </div>
      </ul>
    </nav>
  </header>
  <main>
    <div class="mini__grid">
      <figure class="mini__fig">
        <img src="{{ url_for('static', filename='image/entreeimg/carpaccio-de-boeuf.webp') }}" alt="" />
        <figcaption class="mini__fig__title"><span class="first__letter__mini--fig">Carpaccio</span> de boeuf au cantal</figcaption>
      </figure>
      <figure class="mini__fig">
        <img src="{{ url_for('static', filename='image/entreeimg/tartar-saumon.jpg') }}" alt="" />
        <figcaption class="mini__fig__title"><span class="first__letter__mini--fig">Tartar</span> de saumon</figcaption>
      </figure>
      <figure class="mini__fig">
        <img src="{{ url_for('static', filename='image/entreeimg/salade-landaise.jpg') }}" alt="" />
        <figcaption class="mini__fig__title"><span class="first__letter__mini--fig">Salade</span> landaise</figcaption>
      </figure>
    </div>
    <div class="grid__wrapper">
      <div class="logo">
        <h3>Nos<br />Entrées<br /></h3>
      </div>
      <section class="sect intro">
        <div class="line"></div>
      </section>
      <section class="sect slideA character">
        <div class="block"></div>
        <img src="{{ url_for('static', filename='image/entreeimg/carpaccio-de-boeuf.webp') }}" alt="" /><span
          class="hugtext">Solline</span>
        <div class="caption">
          <p>
            Découvrez l’élégance d’un carpaccio de bœuf tendre, finement tranché et sublimé par la richesse du Cantal.
            Ce mariage subtil entre la finesse de la viande crue et le caractère du fromage offre une expérience
            gustative unique. Agrémenté d’un filet d’huile d’olive, de quelques copeaux de Cantal, d’une pointe de
            poivre et de touches fraîches d’herbes aromatiques, ce plat allie simplicité, authenticité et raffinement.
            Une invitation à savourer la gastronomie française dans toute sa délicatesse.
          </p>
        </div>
        <div class="nickname"><span>Carpaccio de boeuf</span>Au cantal</div>
        <div class="quote">
          <small>25,00 €</small>
        </div>
      </section>
      <section class="sect slideB character">
        <div class="block"></div>
        <img src="{{ url_for('static', filename='image/entreeimg/tartar-saumon.jpg') }}" alt="" /><span
          class="hugtext">Solline</span>
        <div class="caption">
          <p>
            Plongez dans la fraîcheur d’un tartare de saumon délicatement coupé au couteau et relevé de notes
            citronnées. La douceur fondante du poisson s’harmonise avec des touches d’herbes fraîches, d’épices subtiles
            et d’un filet d’huile parfumée, créant un équilibre parfait entre finesse et vivacité. Léger, élégant et
            intensément savoureux, ce tartare met en valeur la pureté des saveurs marines pour une entrée raffinée et
            pleine de fraîcheur.
          </p>
        </div>
        <div class="nickname"><span>Tartar</span>De saumon</div>
        <div class="quote">
          <small>28,00 €</small>
        </div>
      </section>
      <section class="sect slideC character">
        <div class="block"></div>
        <img src="{{ url_for('static', filename='image/entreeimg/salade-landaise.jpg') }}" alt="" /><span
          class="hugtext">Solline</span>
        <div class="caption">
          <p>
            Savourez la générosité du Sud-Ouest avec cette salade landaise, alliance parfaite de fraîcheur et de
            gourmandise. Mélange croquant de jeunes pousses, accompagné de gésiers confits, magret de canard fumé et
            foie gras délicatement posé, le tout relevé d’une vinaigrette légèrement acidulée. Chaque bouchée offre une
            palette de saveurs authentiques, mariant tendreté, caractère et raffinement. Une entrée emblématique, riche
            et irrésistiblement savoureuse.
          </p>
        </div>
        <div class="nickname"><span>Salade</span>Landaise</div>
        <div class="quote">
          <small>18,00 €</small>
        </div>
      </section>
    </div>
  </main>
  <footer>
    <small class="foot__signature">©by Script'enjoyer 2025 all rights reserved</small>
  </footer>
  <script src="https://kit.fontawesome.com/268e7a0888.js" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='js/mobile_menu.js') }}"></script>
  <script src="{{ url_for('static', filename='js/currentTime.js') }}" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/gsap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/ScrollTrigger.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/ScrollSmoother.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/SplitText.min.js"></script>
  <script src="{{ url_for('static', filename='js/gsapSmoother.js') }}"></script>
  <script src="{{ url_for('static', filename='js/gsapEffect2.js') }}"></script>
  <script src="{{ url_for('static', filename='js/gsapLetters.js') }}"></script>
  <script src="{{ url_for('static', filename='js/logic.js') }}"></script>
</body>

</html>