@use "base/typo";
@use "components/variables";
@use "components/placeholders";
@use "components/mixins";
@use "layout/grid";
@use "abstract/keyframes";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  & .cursor__effect {
    @extend %globale-size, %reset-marg-pad, %displayed-column-center;
    height: 4vh;
    width: 110px;
    position: fixed;
    pointer-events: none;
    background: linear-gradient(to right, #ffefba, #ffffff);
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease-out;
    mix-blend-mode: difference;
    z-index: 96;
    text-align: center;
    border-radius: 15px;
    & small {
      @extend %globale-size, %reset-marg-pad;
      transition: 0.3s ease-in-out;
      color: variables.$typo-color-black;
      font-family: variables.$typo-family-small;
      letter-spacing: 3px;
      font-size: variables.$typo-size-Smedium;
      font-weight: lighter;
    }
  }

  & .vid__container {
    @extend %globale-size, %reset-marg-pad;

    &__myvid {
      @extend %globale-size, %reset-marg-pad;
      position: fixed;
      z-index: -99;
    }

    &__banner {
      @extend %displayed-column-center, %reset-marg-pad;
      height: 25vh;
      width: 100%;
      position: fixed;
      padding: 0;
      top: 40%;
      left: 0;
      opacity: 0.4;
      z-index: -98;
      transform: rotate(-8deg);

      // background-color: red;
      & .container__banner__itemA,
      & .container__banner__itemB,
      & .container__banner__itemC,
      & .container__banner__itemD {
        @extend %reset-marg-pad;
        line-height: 27px;
        color: variables.$typo-color-gold;
      }

      & .container__banner__itemA {
        @include mixins.typo_config_xeta;
      }

      & .container__banner__itemB {
        @include mixins.typo_config_omega;
        letter-spacing: 10px;
      }

      & .container__banner__itemC {
        margin-left: 0;
        @include mixins.typo_config_delta;
        word-spacing: 5px;
      }

      & .container__banner__itemD {
        @include mixins.typo_config_delta;
        letter-spacing: 4px;
      }

      & .banner__title {
        @extend %reset-marg-pad;
        @include mixins.typo_config_beta;
        letter-spacing: 8px;
        line-height: 120px;
        color: variables.$typo-color-gold;
      }
    }
  }

  & header {
    min-height: 80vh;
    width: 100%;
    color: variables.$typo-color-white;

    & .primary__title {
      @extend %reset-marg-pad;
      @include mixins.typo_config_alpha;
      letter-spacing: -15px;
      width: 15ch;
      opacity: 0.9;
    }

    & .primary__separate {
      visibility: hidden;
      margin-left: 10%;
      @extend %reset-marg-pad;
      height: 5px;
      background-color: variables.$typo-color-white;
      animation: separateAnime 1s ease 5.3s 1 normal forwards;
    }

    & .secondary__title {
      @extend %reset-marg-pad;
      @include mixins.typo_config_alpha;
      letter-spacing: -15px;
      width: 15ch;
      opacity: 0.9;
    }

    & .navbar {
      @extend %globale-size;

      & .mobile__container {
        @extend %displayed-column-start, %reset-marg-pad;
        position: absolute;
        padding: 0;
        top: 2px;
        right: 0;
        min-height: 30vh;
        width: 15vw;

        @include mixins.breakpoint(medium) {
        }

        @include mixins.breakpoint(large) {
        }

        & .mobile__barre {
          @include mixins.typo_config_xeta;
          @extend %text-gradient-A, %reset-marg-pad;
          position: fixed;
          z-index: 99;
          mix-blend-mode: difference;
          letter-spacing: 8px;

          &:hover {
            cursor: pointer;
            transition: animation 0.3s ease;
            animation: flashOverTxt 0.8s linear forwards;
          }
        }

        & .timer__container {
          @extend %globale-size, %displayed-row-center;
          transform: rotate(90deg);
          margin-top: 15vh;
          margin-left: 5.5vw;

          & span {
            font-family: variables.$typo-family-small;
            font-size: variables.$typo-size-small;
            letter-spacing: 3px;
            font-weight: lighter;
          }
        }

        &__sub {
          height: 20vh;
          width: 15vw;
          @extend %displayed-column-start, %reset-marg-pad;
          position: fixed;
          top: 23%;
          left: 81.5vw;
          z-index: 99;
          transform: rotate(90deg);

          & .mobile__item__sub {
            font-family: variables.$typo-family-small;
            font-size: variables.$typo-size-small;
            letter-spacing: 5px;
            font-weight: lighter;
            border: none;
            height: auto;
            width: auto;
            z-index: 99;

            & a {
              color: variables.$typo-color-white;
              text-decoration: none;
            }

            &:hover {
              color: variables.$typo-color-white;
              text-shadow: 0px 0px 8px #fff;
              transition: text-shadow, transform 0.2s ease-in-out;
              cursor: pointer;
              transform: translateX(15px);
            }
          }
        }
      }

      &__container {
        @extend %reset-marg-pad;
        top: 0;
        position: fixed;
        visibility: hidden;
        height: 100vh;
        width: 100%;
        z-index: 95;

        @include mixins.breakpoint(medium) {
          display: flex;
          flex-flow: column nowrap;
          align-items: flex-start;
          justify-content: flex-start;
          backdrop-filter: blur(8px);
        }

        @include mixins.breakpoint(large) {
          display: flex;
          flex-flow: column nowrap;
          align-items: flex-start;
          justify-content: flex-start;
          backdrop-filter: blur(8px);
        }

        &.view {
          visibility: visible;
          animation: backdropAnime 2s ease 0s 1 normal forwards;
          transition: background-color 1s ease;
          background-color: rgba(0, 0, 0, 0.871);
        }
      }

      & .navbar__itemA,
      .navbar__itemB {
        @extend %reset-marg-pad;
        @include mixins.typo_config_alpha;
        height: auto;
        max-width: 60vw;
        list-style-type: none;
        text-align: start;
        line-height: 150px;
        overflow: hidden;

        & .link__item {
          width: 100%;
          color: variables.$typo-color-white;
          text-decoration: none;
          letter-spacing: -6px;

          &:hover {
            color: variables.$typo-color-gold;
          }
        }

        &:hover {
          filter: drop-shadow(0px 0px 5px #fff);
          transition: 0.3s ease-in-out;
          transform: translateX(150px);
          mix-blend-mode: difference;
        }
      }

      & .navbar__papper {
        @extend %reset-marg-pad, %displayed-column-center;
        top: 0;
        left: 33%;
        position: absolute;
        height: 100%;
        width: 25vw;
        z-index: -1;
        overflow: hidden;

        .navbar__papper__item {
          width: auto;

          &:nth-child(1) {
            height: 11vh;
            margin-top: -140px;
            margin-left: -11vw;
          }

          &:nth-child(2) {
            margin-top: -155px;
            height: 25vh;
          }

          &:nth-child(3) {
            margin-top: -130px;
            height: 30vh;
          }

          &:nth-child(4) {
            margin-top: -110px;
            height: 25vh;
          }

          &:nth-child(5) {
            margin-top: -140px;
            height: 25vh;
          }

          &:nth-child(6) {
            margin-top: -180px;
            height: 25vh;
            margin-left: 3vw;
          }
        }

        &:hover {
          transition: animation 0.3s ease;
          animation: flashOverEl 0.5s linear forwards;
        }
      }
      & .Ai__wrapper {
        @extend %reset-marg-pad, %displayed-column-center;
        position: absolute;
        top: 24%;
        left: 70%;
        min-height: 50vh;
        width: 25vw;
        overflow: hidden;
        border-radius: 15px;
        & .Ai__avatar {
          visibility: hidden;
          height: 25vh;
          width: auto;
        }
        & .Ai__add__anim {
          animation: avatarAnimeAi 5s linear 0.5s forwards;
        }
        & .Ai__intro__txt {
          height: 10vh;
          text-align: center;
          margin-top: 0;
          font-family: variables.$typo-family-small;
          font-weight: lighter;
          transition: animation 0.4s ease;
          animation: txtIntroAi 4s ease;
          letter-spacing: 3px;
          text-shadow: 0px 0px 5px #fff;
        }
        & .Ai__reponse {
          margin-top: 0px;
          & .Ai__reponse__item {
            font-family: variables.$typo-family-small;
            padding: 5px;
            width: 70%;
            border-radius: 10px;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
            animation: fadeIn 0.3s ease;
            white-space: pre-wrap;
            list-style-type: none;
            font-weight: lighter;
            font-size: variables.$typo-size-small;
            letter-spacing: 2px;
          }
        }
        & input[type="text"] {
          visibility: hidden;
          height: 4vh;
          width: 80%;
          border: 1px solid #fff;
          background: transparent;
          border-radius: 10px;
          color: variables.$typo-color-white;
          font-size: variables.$typo-size-small;
        }
        & .Ai__btn__question {
          visibility: hidden;
          margin-top: 5vh;
          height: 6vh;
          width: 28%;
          border: 1px solid #fff;
          background: transparent;
          border-radius: 10px;
          color: variables.$typo-color-white;
          font-size: variables.$typo-size-small;
          font-weight: lighter;
          letter-spacing: 3px;
          &:hover {
            cursor: pointer;
            transition: 0.3s ease;
            box-shadow: 0px 0px 8px #fff;
          }
        }
        & .Ai__input__anime {
          animation: inputAnimeAi 3s linear 8s forwards;
        }
      }
    }
  }
  main {
    #about {
      height: auto;
      width: 95vw;
      margin: auto;
      padding: 0;
      @extend %displayed-row-wrapevenly;
      & .about__container {
        @extend %displayed-column-start;
        margin: 15px;
        min-height: 55vh;
        max-width: 38vw;
        background: url("../image/") no-repeat 50% 50%,
          linear-gradient(to right, #efefbb, #d4d3dd);
        padding: 0 0 5vw 0;
        overflow: hidden;

        & .about__title__container {
          @extend %displayed-column-start, %reset-marg-pad;
          margin-top: 0;
          margin-left: 0;
          min-height: 15vh;
          min-width: 25vw;
          @include mixins.typo_config_xeta;

          & h2 {
            line-height: 50px;
            width: 8ch;
            font-weight: lighter;
          }
        }

        & .big__letters {
          height: 13vh;
          float: left;
          shape-outside: margin-box;
          font-size: 10rem;
          z-index: 0;
          line-height: 140px;
          margin-right: 35px;
          font-family: variables.$typo-family-secondary;
          font-weight: lighter;
          color: variables.$typo-color-gold;
          filter: drop-shadow(0px 0px 3px#000);
        }

        & .about__description__container {
          position: relative;
          min-height: 25vh;
          width: 35ch;
          text-align: left;
          font-size: variables.$typo-size-small;
          @extend %reset-marg-pad;
          @include mixins.typo_config_omega;
        }

        & .about__img__container {
          @extend %globale-size, %displayed-column-center, %reset-marg-pad;

          & img {
            height: 30vh;
            width: auto;

            &:hover {
              transition: animation 0.3s ease;
              animation: flashOverEl 0.5s linear forwards;
            }
          }

          & figcaption {
            text-align: right;
            margin-top: 15px;
            margin-left: 8vw;
            @extend %displayed-column-end, %reset-marg-pad;
            font-size: variables.$typo-size-medium;
            width: 8ch;
            font-family: variables.$typo-family-secondary;
            line-height: 35px;
          }
        }
      }
    }

    & .small__banner {
      @extend %displayed-row-around, %reset-marg-pad;
      position: relative;
      top: 90%;
      left: 72%;
      height: 5vh;
      width: 50vw;
      overflow: hidden;
      border-radius: 10px;
      transform: rotate(90deg);
      z-index: 99;
      text-align: center;

      &__item {
        @extend %displayed-row-around;
        font-size: 1rem;
        width: 20ch;
        font-family: variables.$typo-family-small;
        color: variables.$typo-color-white;
        font-weight: lighter;
        animation: smallBannerAnime 8s linear infinite;
        white-space: nowrap;

        & img {
          height: 25px;
          width: 25px;
        }
      }
    }

    #galerie {
      @extend %globale-size, %reset-marg-pad;
      & .galerie__title {
        white-space: nowrap;
        text-align: center;
        width: 100%;
        font-family: variables.$typo-family-small;
        color: variables.$typo-color-white;
        @include mixins.typo_config_alpha;
        letter-spacing: -15px;
      }
      & .image__container {
        margin-top: -15vh;
        position: relative;
        @extend %reset-marg-pad, %displayed-row-wrapevenly;
        min-height: 100vh;
        width: 100%;
        z-index: 0;
        overflow: hidden;
        & .image__container__item {
          @extend %reset-marg-pad, %displayed-row-center;
          position: absolute;
          width: 90%;
          height: 90%;
          object-fit: cover; // pour conserver le crop
          opacity: 0;
          transform: scale(0.95);
          z-index: 0;
          & .descript__img {
            margin-left: 8vw;
            width: 10ch;
            color: variables.$typo-color-white;
            font-size: variables.$typo-size-medium;
            font-family: variables.$typo-family-small;
            font-weight: lighter;
          }
          & img {
            width: 80vw;
            height: 80vh;
            margin-top: 120px;
            margin-left: 0;
            &:hover {
              transition: animation 0.3s ease;
              animation: flashOverEl 0.5s linear forwards;
            }
          }
        }
      }
    }

    & .contact__container {
      min-height: 100vh;
      width: 100%;
      @extend %displayed-column-center, %reset-marg-pad;
      & .contact__title__container {
        @extend %globale-size, %displayed-row-center, %reset-marg-pad;
        & .contact__container__separate {
          margin: 15px;
          height: 20vh;
          width: 3px;
          border: none;
          background-color: variables.$typo-color-white;
        }
        & .contact__title {
          @extend %displayed-column-center;
          color: variables.$typo-color-white;
          @include mixins.typo_config_xeta;
          & span {
            font-size: variables.$typo-size-big;
          }
        }
      }
      &__sub {
        @extend %globale-size, %displayed-column-center, %reset-marg-pad;
        & .arrow__container {
          @extend %globale-size, %displayed-row-center, %reset-marg-pad;
          & i {
            text-align: center;
            font-size: 12rem;
            @extend %text-gradient-B;
            &:hover {
              cursor: pointer;
            }
            &.arrow__mov__A {
              transform: translateX(-29vw) rotate(-90deg);
              transition: transform 0.4s ease-out;
              animation: flashOverTxt 0.6s linear 0.6s forwards;
            }
            &.arrow__mov__B {
              transform: translateX(29vw) rotate(90deg);
              transition: transform 0.4s ease-out;
              animation: flashOverTxt 0.6s linear 0.6s forwards;
            }
          }
        }
        & .form__container {
          @extend %displayed-row-center, %reset-marg-pad;
          min-height: 60vh;
          width: 50vw;
          & .form__A {
            margin-top: -500px;
            background-color: rgba(0, 0, 0, 0.834);
            border-radius: 15px;
            visibility: hidden;
            min-height: 60vh;
            width: 100%;
            & input[type="text"],
            input[type="email"],
            input[type="tel"] {
              height: 3vh;
              width: 20vh;
              border: none;
              border-bottom: 2px solid #efefbb;
              background: none;
              font-family: variables.$typo-family-small;
              font-size: variables.$typo-size-small;
              color: variables.$typo-color-white;
            }
            & textarea {
              height: 10vh;
              resize: none;
              border: none;
              border-bottom: 2px solid #efefbb;
              background: none;
              font-family: variables.$typo-family-small;
              font-size: variables.$typo-size-small;
              color: variables.$typo-color-white;
            }
            & input[type="submit"] {
              height: 4vh;
              width: 8vw;
              font-family: variables.$typo-family-small;
              font-size: variables.$typo-size-small;
              background: linear-gradient(to right, #efefbb, #d4d3dd);
              border: none;
              border-radius: 5px;
              &:hover {
                animation: flashOverEl 0.6s linear 0.6s forwards;
              }
            }
            &.deploy__formA {
              animation: formAnimeA 1s ease 0.5s 1 normal forwards;
            }
          }
          & .form__B {
            margin-top: -500px;
            background-color: rgba(0, 0, 0, 0.834);
            border-radius: 15px;
            visibility: hidden;
            min-height: 60vh;
            width: 100%;
            & input[type="text"],
            input[type="email"],
            input[type="tel"],
            input[type="number"],
            input[type="date"],
            input[type="time"] {
              height: 3vh;
              width: 20vh;
              border: none;
              border-bottom: 2px solid #efefbb;
              background: none;
              color: variables.$typo-color-white;
              font-family: variables.$typo-family-small;
              font-size: variables.$typo-size-small;
            }
            & textarea {
              height: 10vh;
              resize: none;
              border: none;
              border-bottom: 2px solid #efefbb;
              background: none;
              font-family: variables.$typo-family-small;
              font-size: variables.$typo-size-small;
              color: variables.$typo-color-white;
            }
            & label {
              letter-spacing: 3px;
              font-family: variables.$typo-family-small;
              font-size: variables.$typo-size-small;
              color: variables.$typo-color-white;
              font-weight: lighter;
            }
            & input[type="submit"] {
              height: 4vh;
              width: 8vw;
              font-family: variables.$typo-family-small;
              font-size: variables.$typo-size-small;
              background: linear-gradient(to right, #efefbb, #d4d3dd);
              border: none;
              border-radius: 5px;
              &:hover {
                animation: flashOverEl 0.6s linear 0.6s forwards;
              }
            }
            &.deploy__formB {
              animation: formAnimeB 1s ease 0.5s 1 normal forwards;
            }
          }
        }
      }
    }
    & .aside__txt__wrapper {
      height: auto;
      width: 100%;
      @extend %displayed-column-stretch, %reset-marg-pad;
      overflow: hidden;
      & .iframe__txt__itemA {
        padding: 0;
        margin-top: 5vh;
        margin-bottom: 0;
        margin-left: 2vw;
        font-size: variables.$typo-size-big;
        color: variables.$typo-color-white;
        font-weight: lighter;
        font-family: variables.$typo-family-primary;
        width: 8ex;
        line-height: 50px;
        letter-spacing: -8px;
      }
      & .iframe__txt__itemB {
        padding: 0;
        margin-top: 0;
        margin-left: 2vw;
        margin-bottom: 0;
        font-size: variables.$typo-size-big;
        color: variables.$typo-color-white;
        font-weight: lighter;
        font-family: variables.$typo-family-primary;
        width: 8ex;
        letter-spacing: -8px;
      }
    }
    & aside {
      @extend %globale-size, %displayed-row-nowrapevenly, %reset-marg-pad;
      & .barrets__container {
        @extend %displayed-column-evenly, %reset-marg-pad;
        min-height: 50vh;
        width: 100%;
        overflow: hidden;
        & .barrets__container__item {
        margin: 0;
        padding: 0;
          height: 15px;
          width: 100%;
          background: linear-gradient(to right, #efefbb, #d4d3dd);
        }
      }
      & .aside__vid__item {
        height: 25vh;
        width: auto;
      }
      & iframe {
        position: absolute;
      }
    }
  }
  footer {
    @extend %displayed-column-center, %reset-marg-pad;
    position: relative;
    min-height: 15vh;
    width: 100%;
    bottom: 0;
    & .foot__signature {
      font-family: variables.$typo-family-small;
      font-size: variables.$typo-size-small;
      color: variables.$typo-color-gold;
      font-weight: lighter;
    }
  }
}
